*{
    box-sizing: border-box;
}
body{
    font-family: "Roboto", serif;
}
.parent{
    background-color: #EEE;
}
.container{
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
@media(min-width: 768px){
    .container{
        width: 750px;
    }
}
@media(min-width: 992px){
    .container{
        width: 970px;
    }
}
@media(min-width: 1200px){
    .container{
        width: 1170px;
    }
}